.mat-expansion-panel-header {
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	font-size: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid var(--goldHighlight2);
    background: inherit;
    font-weight: normal;
    color: #ffffff;
}

.mat-expansion-panel-header-title {
    color: white;
}
body {
    margin: 0px;
    font-family: 'Overlock', serif;
}


.mat-mini-fab.mat-accent ,
.mat-select,
.mat-select-value
{
    background-color: var(--goldHighlight2);
}


.mat-expansion-panel {
    background-color: inherit;
    color:inherit;
}

.mat-expansion-panel-spacing {
    margin: 0 0;
}

.mat-expansion-panel-header.mat-expanded
{
    border: 1px solid #b9a78e;
	background:var(--goldHighlight2);
	font-weight: normal;
	color: #ffffff;
}

fieldset button {
   margin-right: 20px;
}

.mat-expansion-panel-header.mat-expanded:focus,.mat-expansion-panel-header.mat-expanded:hover{background:var(--goldHighlight2)}

fieldset {
    border-color: var(--goldHighlight2);
}

.mat-expansion-panel-header {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.mat-expansion-panel-header-title {
    display: block;
}

.mat-expansion-panel-content {
    font: inherit;
    letter-spacing: normal;
}

.event {
    font-family: var(--mainFont);
}

#statistics li > span
{
    margin-right: 5px;
}

#skills li > span,
#combat li > span,
#passions li > span
{
    margin-right: 5px;
    margin-left: 5px;
}


.traits .mat-icon {
    height: 15px;
    width: 15px;
    font-size: 15px;
}