<div *ngIf="char; else noChar" >

<div class="row">
    <div class="col-1"><h2 id="mainhead">Main </h2>
        <ul id='main'>
            <ng-container *ngFor="let m of char.char['main'] | keyvalue ">
                <li  *ngIf="isEq(m.key, 'Born')">
                    <span class="gold">Age</span> {{char.year - m.value*1}}
                </li>
                <li *ngIf="!isEq(m.key, 'Glory')">
                    <span class="gold" >{{m.key}}</span> {{m.value}}
                </li>
            </ng-container>
        </ul>

    </div> <!-- 33.33% -->
    <div class="col-1"><h2 id="stathead">Statistics</h2>
        <ul id="statistics">
            <li><span class="gold">SIZ</span>
            <app-editable
                value="{{char.char['stats']['siz']}}"
                (valueChange)="modifyProp( 'stats.siz', $event )"
            ></app-editable></li>
            <li><span class="gold">DEX</span><app-editable
                value="{{char.char['stats']['dex']}}"
                (valueChange)="modifyProp('stats.dex', $event )"
            ></app-editable></li>
            <li><span class="gold">STR</span>
            <app-editable
                value="{{char.char['stats']['str']}}"
                (valueChange)="modifyProp( 'stats.str', $event )"
            ></app-editable></li>
            <li><span class="gold">CON</span>
            <app-editable
                value="{{char.char['stats']['con']}}"
                (valueChange)="modifyProp( 'stats.con', $event )"
            ></app-editable></li>
            <li><span class="gold">APP</span>
            <app-editable
                value="{{char.char['stats']['app']}}"
                (valueChange)="modifyProp( 'stats.app', $event )"
            ></app-editable></li>
            <li><span class="gold">Damage</span><em>(STR+SIZ)/6=</em> <strong> {{getDetail('Damage')}}d6</strong></li>
            <li><span class="gold">Healing Rate</span><em>(STR+CON)/10=</em> <strong> {{getDetail('Healing Rate')}}</strong></li>
            <li><span class="gold">Move Rate</span><em>(STR+DEX)/10=</em> <strong> {{getDetail('Move Rate')}}</strong></li>
            <li><span class="gold">Total Hitpoints</span><em>(CON+SIZ)=</em> <strong> {{getDetail('Total Hitpoints')}}</strong></li>
            <li><span class="gold">Unconscious</span><em>(HP)/4=</em> <strong> {{getDetail('Unconscious')}}</strong></li>
            <li><span class="gold">Major Wound</span><em>(CON)=</em> <strong> {{getDetail('Major Wound')}}</strong></li>
            <li><span class="gold">Knockdown</span><em>(SIZ)=</em> <strong> {{getDetail('Knockdown')}}</strong></li>
        </ul>

    </div> <!-- 33.33% -->
    <div class="col-1">
        <div>
            <h2 id="stathead">
                {{char.char['name']}}
                <button mat-icon-button [matMenuTriggerFor]="character">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #character="matMenu">
                      <button mat-menu-item (click)="editMain(char)">
                        Main info
                      </button>
                      <button mat-menu-item (click)="jsonDialog()">
                        Json 
                      </button>
                      <button mat-menu-item (click)="pdf()">
                        Pdf 
                      </button>
                      <button mat-menu-item disabled>
                        Horses 
                      </button>
                      <button mat-menu-item disabled>
                        Army
                      </button>
                      <button mat-menu-item disabled>
                        Npcs
                      </button>
                      <button mat-menu-item disabled>
                        Skills
                      </button>
                </mat-menu>
            </h2>
        </div>
        <div style="text-align: center"><img class="Image-Frame" id='charimg' src="{{char.char['url']}}" width="200"> </div>
    </div> <!-- 33.33% -->
</div>

<div class="row">
    <div class="col-1">
        <div class="FontSizeBig">
            <span class="gold">GLORY:</span>
            <span id="glory"> {{details['glory']}}</span>
        </div>
        <div style="text-align: center;">
            <button (click)="bot('d6')"><mat-icon>casino</mat-icon>D6</button>        
            <button (click)="bot('d20')"><mat-icon>casino</mat-icon>D20</button>        
        </div>
    </div>
    <div class="col-1">
        <div class="FontSizeBig"><img src="https://pappcseperke.hu/wp-content/uploads/2021/02/Codex_Knight_Transparent.png" alt="knight" ></div>
    </div>
    <div class="col-1">
        <div class="FontSizeBig">
            <span class="gold">HP:</span> 
            <span *ngIf="details['hp']==details['ahp']; else wounded"> {{details['hp']}}</span>
            <ng-template #wounded>
                <span matTooltip="{{details['wounds']}}"> {{details['ahp']}}/{{details['hp']}}</span>
            </ng-template>
        </div>
        <div>
            <fieldset id="health">
                <legend>Health</legend>
                <button  mat-mini-fab color="accent" title="Wound" (click)="heal('wound')">
                    <mat-icon>remove</mat-icon>
                </button>                     
                <button  mat-mini-fab color="accent" title="Heal" (click)="heal('heal')">
                    <mat-icon>add</mat-icon>
                </button>  
                <input id="healthmod" type="number" matInput [(ngModel)]="healthmod"/>                    
                
                <br/>
                
                
                <button  mat-mini-fab color="accent" title="Wealky Healing" (click)="heal('sunday')">
                    <mat-icon>healing</mat-icon>
                </button>                     
                <button  mat-mini-fab color="accent" title="Complette (Winter)" (click)="heal('full')">
                    <mat-icon>favorite</mat-icon>
                </button>                    

                <label for="chineed">Chirurgery</label>
                <mat-checkbox name="chineed" [checked]="char.char['health']['chirurgery']" (change)="modifyProp('health.chirurgery',$event.checked)"></mat-checkbox>
                   
            </fieldset>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <h2 id="traithead">Personality Traits</h2>
        <table class="traits">
            <tbody *ngFor="let t of traits"><tr>
                <td><mat-checkbox [checked]="isMarked(t.first)" (change)="mark($event.checked, t.first)"></mat-checkbox></td><td ><app-editable
                    value="{{char.char['traits'][t.short]}}"
                    (valueChange)="modifyProp( 'traits.'+t.short, $event )"
                ></app-editable></td><td >{{t.first}}<mat-icon *ngIf="isChivalry(t.first)">security</mat-icon><mat-icon *ngIf="isVirtue(t.first)">emoji_events</mat-icon></td><td><mat-icon *ngIf="isVirtue(t.second)">emoji_events</mat-icon>{{t.second}}</td><td ><app-editable
                    value="{{20-char.char['traits'][t.short]}}"
                    (valueChange)="modifyProp( 'traits.'+ t.short, 20-$event )"
                ></app-editable></td><td><mat-checkbox [checked]="isMarked(t.second)" (change)="mark($event.checked, t.second)"></mat-checkbox></td>
            </tr> 
            <tr><td></td><td colspan="4"><div><div class="ratioGreen"  style="width:{{5*getTrait(t.short)}}%"></div><div  style="width:{{100-5*getTrait(t.short)}}%" class="ratioRed"></div></div></td><td></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-1">
        <h2 class="skillhead">Skills</h2>
        <ul id="skills">
            <li *ngFor="let m of char.char['skills']['Other'] | keyvalue"><mat-checkbox [checked]="isMarked(m.key)" 
                (change)="mark($event.checked, m.key)"></mat-checkbox><span class="gold">{{m.key}}</span><app-editable
                value="{{char.char['skills']['Other'][m.key]}}"
                (valueChange)="saveProjectName( char.char['skills']['Other'], m.key, $event )"
            ></app-editable></li>
        </ul>
    </div>
    <div class="col-1">
        <h2 class="skillhead">Combat Skills</h2>
        <ul id="combat">
            <li *ngFor="let m of char.char['skills']['Weapons'] | keyvalue"><mat-checkbox [checked]="isMarked(m.key)" (change)="mark($event.checked, m.key)"></mat-checkbox><span class="gold">{{m.key}}</span><app-editable
                value="{{char.char['skills']['Weapons'][m.key]}}"
                (valueChange)="saveProjectName( char.char['skills']['Weapons'], m.key, $event )"
            ></app-editable></li>
            <li *ngFor="let m of char.char['skills']['Combat'] | keyvalue"><mat-checkbox [checked]="isMarked(m.key)" (change)="mark($event.checked, m.key)"></mat-checkbox><span class="gold">{{m.key}}</span><app-editable
                value="{{char.char['skills']['Combat'][m.key]}}"
                (valueChange)="saveProjectName( char.char['skills']['Combat'], m.key, $event )"
            ></app-editable></li>
        </ul>
        <h2 id="passionhead">Passions</h2>
        <ul id="passions">
            <li *ngFor="let m of char.char['passions'] | keyvalue"><mat-checkbox [checked]="isMarked(m.key)" (change)="mark($event.checked, m.key)"></mat-checkbox><span class="gold">{{m.key}}</span><app-editable
                value="{{char.char['passions'][m.key]}}"
                (valueChange)="saveProjectName( char.char['passions'], m.key, $event )"
            ></app-editable></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <h2 id="eventshead" (click)="editEvent(e)">Events</h2>
        <mat-accordion>
            <mat-expansion-panel  *ngFor="let y of details['years']" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                   {{y}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let e of getEvents(y)" (click)="editEvent(e)" class="event"><span class="gold" *ngIf="e['glory']>0">{{e['glory']}} </span><span style="white-space: pre-line;">{{e['description']}}</span></div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="col-1">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Combat gear
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <table width="100%" class="stats">
                    <thead>
                    <tr><th>Weapon</th><td>
                        <mat-select [(value)]="char.char['combat']['weapon']" ngon>
                            <mat-option *ngFor="let m of base.weapons | keyvalue" value="{{m.key}}" >{{m.key}}</mat-option>
                        </mat-select>
                    </td></tr>
                    <tr><th>Shield</th><td>
                        <mat-select [(value)]="char.char['combat']['shield']">
                            <mat-option *ngFor="let m of base.shields | keyvalue" value="{{m.key}}" >{{m.key}}</mat-option>
                        </mat-select>
                    </td></tr>
                    <tr><th>Armor</th><td>
                        <mat-select [(value)]="char.char['combat']['armor']">
                            <mat-option *ngFor="let m of base.armors | keyvalue" value="{{m.key}}" >{{m.key}}</mat-option>
                        </mat-select>
                    </td></tr>
                    </thead>
                    <tbody id="combatgear">
                        <tr><th>Skill</th><td>{{weapon['skill']}}</td></tr>
                        <tr><th>Damage</th><td>{{getDetail('Damage')+weapon['damage']*1}}d6</td></tr>
                        <tr><th>Damage reduction</th><td>{{base.armors[char.char['combat']['armor']]['red']}}
                            + {{base.shields[char.char['combat']['shield']]['red']}} </td></tr>
                         <tr><th>Dex modifier</th><td>{{base.armors[char.char['combat']['armor']]['red']}}</td></tr>
                         <tr><th>Effective Dex</th><td>{{char.char['stats']['dex'] + base.armors[char.char['combat']['armor']]['red']}}</td></tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Army
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <table width="100%" id="army" class="stats">
                    <tr *ngFor="let m of char.char['army'] | keyvalue "><th>{{m.key}}</th><td>{{m.value}}</td></tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle *ngIf="main_horse">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Horses
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h5>Main</h5>
                <table width="100%" id="horses" class="stats">
                    <tr><th>Type</th><td id="htyp" colspan="2" style="text-transform: capitalize">{{char.char['winter']['horses'][0]}}</td></tr>
                    <tr><th>SIZ</th><td id="hsiz">{{main_horse['siz']}}</td><th>CON</th><td id="hcon">{{main_horse['con']}}</td></tr>
                    <tr><th>DEX</th><td id="hdex">{{main_horse['dex']}}</td><th>STR</th><td id="hstr">{{main_horse['str']}}</td></tr>
                    <tr><th>Damage</th><td id="hdam" colspan="2">{{main_horse['dam']}}</td></tr>
                    <tr><th>Move</th><td id="hmov">{{main_horse['mov']}}</td><th>Armor</th><td id="harm">{{main_horse['arm']}}</td></tr>
                    <tr><th>Total Hitpoints</th><td id="hhp">{{main_horse['siz']+main_horse['con']}}</td><th>Healing Rate</th><td id="hhea">{{main_horse['hea']}}</td></tr>
                </table>
                <h5>Others</h5>
                <table  width="100%" id="hother" class="stats">
                    <ng-container *ngFor="let h of char.char['winter']['horses']; index as i">
                        <tr *ngIf="i>0 && base.horsetypes[h]">
                            <th style="text-transform: capitalize">{{h}}</th>
                            <td><span class="gold">Move</span>  {{base.horsetypes[h]['mov']}}</td>
                            <td><span class="gold">Armor</span> {{base.horsetypes[h]['arm']}}</td>
                            <td><span class="gold">HP</span> {{base.horsetypes[h]['siz']+base.horsetypes[h]['con']}}</td>
                        </tr>
                    </ng-container>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel  *ngFor="let m of char.char['npcs'] | keyvalue " hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{m.key}} ({{m.value['connection']}})
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-npc-detail *ngIf="m.value['dbid']" [dbid]="m.value['dbid']"></app-npc-detail>
                <table *ngIf="!m.value['dbid']"  width="100%"> 
                    <ng-container *ngFor="let m of m.value['show']  | keyvalue ">
                        <tr  *ngIf="isEq(m.key, 'Born')">
                            <th>Age</th><td>{{char.year - m.value*1}}</td> 
                        </tr>
                        <tr><th>{{m.key}}</th><td>{{m.value}}</td></tr>   
                    </ng-container>

                    <tr *ngFor="let s of m.value['skills'] | keyvalue"><th>{{s.key}}</th><td>{{s.value}}</td></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="row" id="descriptions">
    <h2>Description</h2>
    <span class="contrastedText">{{char.char['description']}}</span>
    <br/>
    <span class="contrastedText">{{char.char['longdescription']}}</span>
</div>

</div>
<ng-template #noChar>
    <style>
        .wrapper {
            display: flex; 
            justify-content: center; 
            align-items: center;
            height: calc(100vh - 20px);
        }
        .inner {
            padding: 12px;
        }
    </style>
    <div class="wrapper">
        <mat-spinner class="inner"></mat-spinner>
    </div>
</ng-template>