<nav>
  <div class="nav">
    <button mat-raised-button routerLink="team">Team</button>
    <ng-container *ngFor="let c of list" >
      <button mat-raised-button *ngIf="c.type=='pc' && c.role!='King' && c.role!='Lord' " routerLink="character/{{c.name}}">{{c.name}}</button>
    </ng-container>
  </div>
  <div class="nav">
    <mat-form-field appearance="fill">
      <mat-label>Select character</mat-label>
      <mat-select [(value)]="lastChar" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let c of list" value="{{c.name}}" >{{c.name}}</mat-option>
      </mat-select>  
    </mat-form-field>
  </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>