<nav><div>
  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="login"><mat-icon>login</mat-icon>Login</button>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
  </mat-menu>
  <mat-menu #login="matMenu">
    <ng-container *ngFor="let c of list" >
      <button mat-menu-item *ngIf="c.type=='pc'" (click)="loginBase(c)"><mat-icon >security</mat-icon>{{c.name}}</button>
    </ng-container>
  </mat-menu>
  <button mat-button (click)="newChar()">
    <mat-icon>person_add</mat-icon>
  </button> 
  <button mat-button routerLink="team">
    <mat-icon>groups</mat-icon>
    Team
  </button>
  <button mat-button [matMenuTriggerFor]="players">
    <mat-icon>local_police</mat-icon>
    Players
  </button>
  <mat-menu #players="matMenu">
    <ng-container *ngFor="let c of list" >
      <button mat-menu-item *ngIf="isPc(c)" routerLink="character/{{c.name}}">
        <mat-icon >security</mat-icon>
        {{c.name}}
      </button>
    </ng-container>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="all"><mat-icon>switch_account</mat-icon>All</button>
  <mat-menu #all="matMenu">
    
    <button mat-menu-item [matMenuTriggerFor]="Lords"><mat-icon>male</mat-icon>Lords</button>
    <button mat-menu-item [matMenuTriggerFor]="Ladies"><mat-icon>female</mat-icon>Ladies</button>
    <button mat-menu-item [matMenuTriggerFor]="Other"><mat-icon>transgender</mat-icon>Other</button>
  </mat-menu>
  <mat-menu #Ladies="matMenu">
    <ng-container *ngFor="let c of list" >
      <button mat-menu-item *ngIf="isLady(c)" routerLink="character/{{c.name}}">{{c.name}}</button>
    </ng-container>
  </mat-menu>
  <mat-menu #Lords="matMenu">
    <ng-container *ngFor="let c of list" >
      <button mat-menu-item *ngIf="isLord(c)" routerLink="character/{{c.name}}">{{c.name}}</button>
    </ng-container>
  </mat-menu>
  <mat-menu #Other="matMenu">
    <ng-container *ngFor="let c of list" >
      <button mat-menu-item *ngIf="isOther(c)" routerLink="character/{{c.name}}">{{c.name}}</button>
    </ng-container>
  </mat-menu>
</div><div></div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>