.traits .mat-icon,
.traitmods .mat-icon {
    height: 15px;
    width: 15px;
    font-size: 15px;
}

.traitmods {
    width: 100%;
}

.traitmods .select {
    width: 40%;
    text-align: center;
}

.mat-slider-horizontal {
    width: 100%;
}

.traitsummary {
    text-align: center;
    width: 100%;
} 

.mat-vertical-stepper,
.mat-radio-button,
.mat-stepper-vertical, 
.mat-stepper-horizontal {
    font-family: var(--mainFont);
}

