<div *ngIf="base; else noBase">
  <div class="row wide">
    <div class="col-1">
      <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Missing information.">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Base information</ng-template>
            <mat-form-field>
              <mat-label>Born</mat-label>
              <input matInput placeholder="480-566" formControlName="born" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Year</mat-label>
              <input matInput placeholder="480-566" formControlName="year" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Culture</mat-label>
              <mat-select [(value)]="char['main']['Culture']"  (selectionChange)="updateCulture()">
                <mat-option *ngFor="let culture of base.newchar | keyvalue" [value]="culture.key">{{culture.key}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Religion</mat-label>
              <mat-select [(value)]="char['main']['Religion']" (selectionChange)="changeReligion($event)">
                <mat-option *ngFor="let culture of base.virtues | keyvalue" [value]="culture.key">{{culture.key}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select [(value)]="gender" (selectionChange)="updateGender()">
                <mat-option value="male">Sir</mat-option>
                <mat-option value="female">Lady</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Unknown" formControlName="name" required>
            </mat-form-field>
            <button mat-icon-button (click)="genName()">
              <mat-icon>shuffle</mat-icon>
            </button>
            <br />
            <mat-form-field>
              <mat-label>Homeland</mat-label>
              <mat-select [(value)]="char.main.Homeland" (selectionChange)="initPassions()">
                <mat-option *ngFor="let hl of base.newchar[char['main']['Culture']].homeland | keyvalue"
                  [value]="hl.key">{{hl.key}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Lord</mat-label>
              <input matInput placeholder="Unknown" formControlName="lord" required>
            </mat-form-field>
            <button mat-icon-button (click)="genLord()">
              <mat-icon>shuffle</mat-icon>
            </button>
          </form>
        </mat-step>
        <!--mat-step [stepControl]="secondFormGroup" errorMessage="Traits faileds">
          <ng-template matStepLabel>Traits</ng-template>
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Method</mat-label>
              <mat-select [(value)]="traitMode" (selectionChange)="changeTrait($event, 'method')">
                <mat-option value="base">Base</mat-option>
                <mat-option value="random">Random</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Famous</mat-label>
              <mat-select [(value)]="charBase['famous']" (selectionChange)="changeTrait($event, 'famous')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>individualTraits 1</mat-label>
              <mat-select [(value)]="charBase['individualTraits'][0]" (selectionChange)="changeTrait($event, 'individualTraits')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>individualTraits 2</mat-label>
              <mat-select [(value)]="charBase['individualTraits'][1]" (selectionChange)="changeTrait($event, 'individualTraits')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>individualTraits 3</mat-label>
              <mat-select [(value)]="charBase['individualTraits'][2]" (selectionChange)="changeTrait($event, 'individualTraits')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>individualTraits 4</mat-label>
              <mat-select [(value)]="charBase['individualTraits'][3]" (selectionChange)="changeTrait($event, 'individualTraits')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>individualTraits 5</mat-label>
              <mat-select [(value)]="charBase['individualTraits'][4]" (selectionChange)="changeTrait($event, 'individualTraits')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>individualTraits 6</mat-label>
              <mat-select [(value)]="charBase['individualTraits'][5]" (selectionChange)="changeTrait($event, 'individualTraits')">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="isRandom()">
              <mat-form-field>
                <mat-label>Discretionary 1</mat-label>
                <mat-select [(value)]="charBase['individualTraits'][6]" (selectionChange)="changeTrait($event, 'individualTraits')">
                  <mat-option value="none">None</mat-option>
                  <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Discretionary 2</mat-label>
                <mat-select [(value)]="charBase['individualTraits'][7]" (selectionChange)="changeTrait($event, 'individualTraits')">
                  <mat-option value="none">None</mat-option>
                  <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Discretionary 3</mat-label>
                <mat-select [(value)]="charBase['individualTraits'][8]" (selectionChange)="changeTrait($event, 'individualTraits')">
                  <mat-option value="none">None</mat-option>
                  <mat-option *ngFor="let tm of traitModifiers | keyvalue" value="{{tm.value}}">{{tm.key}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" errorMessage="Attributes faileds">
          <ng-template matStepLabel>Attributes</ng-template>
          <form [formGroup]="thirdFormGroup">
            <mat-form-field>
              <mat-label>Method</mat-label>
              <mat-select [(value)]="attribMode" (selectionChange)="changeAttrib('method')">
                <mat-option value="base">Base</mat-option> 
                <mat-option value="random">Random</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="attribMode!='random'">
              <table>
                <tr><th>SIZ</th><td><mat-icon (click)="attr('siz',-1)">remove</mat-icon></td><td>{{charBase.stats.siz}}</td><td><mat-icon (click)="attr('siz',1)">add</mat-icon></td></tr>
                <tr><th>DEX</th><td><mat-icon (click)="attr('dex',-1)">remove</mat-icon></td><td>{{charBase.stats.dex}}</td><td><mat-icon (click)="attr('dex',1)">add</mat-icon></td></tr>
                <tr><th>STR</th><td><mat-icon (click)="attr('str',-1)">remove</mat-icon></td><td>{{charBase.stats.str}}</td><td><mat-icon (click)="attr('str',1)">add</mat-icon></td></tr>
                <tr><th>CON</th><td><mat-icon (click)="attr('con',-1)">remove</mat-icon></td><td>{{charBase.stats.con}}</td><td><mat-icon (click)="attr('con',1)">add</mat-icon></td></tr>
                <tr><th>APP</th><td><mat-icon (click)="attr('app',-1)">remove</mat-icon></td><td>{{charBase.stats.app}}</td><td><mat-icon (click)="attr('app',1)">add</mat-icon></td></tr>
                <tr><td colspan="100%" align="center">{{charBase.stats.siz+charBase.stats.dex+charBase.stats.str+charBase.stats.con+charBase.stats.app}}/60</td></tr>
              </table>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup" errorMessage="Skills faileds">
          <ng-template matStepLabel>Skills</ng-template>
          <form [formGroup]="fourthFormGroup">
            <mat-form-field>
              <mat-label>P15 Skill</mat-label>
              <mat-select [(value)]="charBase['individual']['p15']" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listP15() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>P10 Skill 1</mat-label>
              <mat-select [(value)]="charBase['individual']['p10'][0]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listP10() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>P10 Skill 2</mat-label>
              <mat-select [(value)]="charBase['individual']['p10'][1]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listP10() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>P10 Skill 3</mat-label>
              <mat-select [(value)]="charBase['individual']['p10'][2]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listP10() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spec 1</mat-label>
              <mat-select [(value)]="charBase['individual']['spec'][0]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spec 2</mat-label>
              <mat-select [(value)]="charBase['individual']['spec'][1]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spec 3</mat-label>
              <mat-select [(value)]="charBase['individual']['spec'][2]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spec 4</mat-label>
              <mat-select [(value)]="charBase['individual']['spec'][3]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 1</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][0]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 2</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][1]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 3</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][2]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 4</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][3]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 5</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][4]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 6</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][5]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 7</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][6]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 8</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][7]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 9</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][8]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Skill 10</mat-label>
              <mat-select [(value)]="charBase['individual']['skill'][9]" (selectionChange)="updateSkills()">
                <mat-option value="none">None</mat-option>
                <mat-option *ngFor="let l of listSkill() | keyvalue" value="{{l.value}}">{{l.key}}</mat-option>
              </mat-select>
            </mat-form-field>
            <p><b>Lord</b><br/>
              15 Point<br/>
              3x10 noncombat<br/>
              4x 1 trait, 1 passion, 1 attribute or skill+5<br/>
              10 skill points on  non combats
            </p>
            <p><b>Lady</b><br/>
              15 Point Siege/Dagger/non-combat<br/>
              3x10 Siege/Dagger/non-combat<br/>
              4x 1 trait, 1 passion, 1 attribute or skill+5<br/>
              10 skill points on  non combats
            </p>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Final</ng-template>
        </mat-step-->
      </mat-vertical-stepper>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col-1">
          <h2 id="mainhead">Main </h2>
          <ul id='main'>
            <ng-container *ngFor="let m of char['main'] | keyvalue ">
              <li *ngIf="isEq(m.key, 'Born')">
                <span class="gold">Age</span> {{year - m.value*1}}
              </li>
              <li *ngIf="!isEq(m.key, 'Glory')">
                <span class="gold">{{m.key}}</span> {{m.value}}
              </li>
            </ng-container>
          </ul>
          <h2 id="passionshead">Passions</h2>
          <ul id="passions">
            <li *ngFor="let p of char['passions'] | keyvalue"><span class="gold">{{p.key}}</span> {{p.value}}</li>
          </ul>
        </div>
        <div class="col-1">
          <h2 id="traithead">Attributes</h2>
          <ul id="statistics">
            <li><span class="gold">SIZ</span> {{char.stats.siz}}</li>
            <li><span class="gold">DEX</span> {{char.stats.dex}}</li>
            <li><span class="gold">STR</span> {{char.stats.str}}</li>
            <li><span class="gold">CON</span> {{char.stats.con}}</li>
            <li><span class="gold">APP</span> {{char.stats.app}}</li>
            <li *ngFor="let d of charBase.derived | keyvalue"><span class="gold">{{d.key}}</span> {{d.value}}</li>
          </ul>
          <h2 id="traithead">Personality Traits</h2>
          <table class="traits">
            <tbody *ngFor="let t of traits">
              <tr>
                <td></td>
                <td>{{char['traits'][t.short]}}</td>
                <td>{{t.first}}<mat-icon *ngIf="isChivalry(t.first)">security</mat-icon>
                  <mat-icon *ngIf="isVirtue(t.first)">emoji_events</mat-icon>
                </td>
                <td>
                  <mat-icon *ngIf="isVirtue(t.second)">emoji_events</mat-icon>{{t.second}}
                </td>
                <td>{{20-char['traits'][t.short]}}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="4">
                  <div>
                    <div class="ratioGreen" style="width:{{5*char['traits'][t.short]}}%"></div>
                    <div style="width:{{100-5*char['traits'][t.short]}}%" class="ratioRed"></div>
                  </div>
                </td>
                <td></td>
              </tr>
            </tbody>
            <tr>
              <td colspan="100%" align="center"> Chivalry: {{chivalry}}/80</td>
            </tr>
          </table>
        </div>
        <div class="col-1">
          <h2 id="skillhead">Combat</h2>
          <ul id="combat">
            <li *ngFor="let p of char['skills']['Combat'] | keyvalue"><span class="gold">{{p.key}}</span> {{p.value}}</li>
          </ul>
          <h2 id="skillhead">Weapons</h2>
          <ul id="combat">
            <li *ngFor="let p of char['skills']['Weapons'] | keyvalue"><span class="gold">{{p.key}}</span> {{p.value}}</li>
          </ul>
          <h2 id="skillhead">Other</h2>
          <ul id="other">
            <li *ngFor="let p of char['skills']['Other'] | keyvalue"><span class="gold">{{p.key}}</span> {{p.value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noBase>
  <style>
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 20px);
    }

    .inner {
      padding: 12px;
    }
  </style>
  <div class="wrapper">
    <mat-spinner class="inner"></mat-spinner>
  </div>
</ng-template>