<div id="teamdiv" *ngIf="team; else noTeam">
    <div class="row">
        <div class="col-1">
            <mat-button-toggle-group class="modifier" [(ngModel)]="modifier"> 
                <ng-container *ngFor="let a of fakeArray; let index = index">
                    <mat-button-toggle value="{{ index-10 }}">{{ index-10 }}</mat-button-toggle>
                </ng-container>
            </mat-button-toggle-group><br/>
<table class="team">
    <tbody>
        <tr class="name"><th></th><th *ngFor="let m of team">{{m['shortName']}}</th></tr>
        <tr id="str"><th>Strength</th><td *ngFor="let m of team">{{m['stats']['str']}}</td></tr>
        <tr id="dex"><th>Dexterity</th><td *ngFor="let m of team">{{m['stats']['dex']}}</td></tr>
        <tr id="con"><th>Constitution</th><td *ngFor="let m of team">{{m['stats']['con']}}</td></tr>
        <tr id="siz"><th>Size</th><td *ngFor="let m of team">{{m['stats']['siz']}}</td></tr>
        <tr id="app"><th>Appearence</th><td *ngFor="let m of team">{{m['stats']['app']}}</td></tr>
        <tr id="dam"><th>Damage</th><td *ngFor="let m of team">{{m.detail.damage}}d6</td></tr>
        <tr id="hr"><th>Healing Rate</th><td *ngFor="let m of team">{{m.detail.hr}}</td></tr>
        <tr id="mhp"><th>Max HP</th><td *ngFor="let m of team">{{m.detail.hp}}</td></tr>
        <tr id="ahp"><th>Actual HP</th><td *ngFor="let m of team" matTooltip="{{m.detail.wounds}}">{{m.detail.ahp}}</td></tr>
        <tr id="chi"><th>Chirurgery</th><td *ngFor="let m of team">
            <span *ngIf="m.detail.chi==='-'; else elseBlock">-</span>
            <ng-template #elseBlock>
                <span *ngIf="m.detail.chi; else noChiBlock">Yes</span>
                <ng-template #noChiBlock><span>No</span></ng-template>
            </ng-template>
        </td></tr>
        <tr id="mr"><th>Move Rate</th><td *ngFor="let m of team">{{m.detail.mr}}</td></tr>
        <tr id="unc"><th>Unconscious</th><td *ngFor="let m of team">{{m.detail.unc}}</td></tr>
        <tr id="mw"><th>Major Wound</th><td *ngFor="let m of team">{{m.detail.mw}}</td></tr>
        <tr id="kno"><th>Knockdown</th><td *ngFor="let m of team">{{m.detail.kno}}</td></tr>
    </tbody>
    <tbody id="traits">
        <tr class="name"><th></th><th *ngFor="let m of team">{{m['shortName']}}</th></tr>
        <ng-container *ngFor="let t of traits">
            <tr><th (click)="bot(t.first)">{{t.first}}</th><td *ngFor="let m of team" (click)="bot(t.first, m)">{{m['traits'][t.short]}}</td></tr>
            <tr><th (click)="bot(t.second)">{{t.second}}</th><td *ngFor="let m of team" (click)="bot(t.second, m)">{{20-m['traits'][t.short]}}</td></tr>
        </ng-container>
    </tbody>
    <tbody id="passions">
        <tr class="name"><th></th><th *ngFor="let m of team">{{m['shortName']}}</th></tr>
        <tr *ngFor="let p of teamprop('passions','')"><th (click)="bot(p)">{{p}}</th><td *ngFor="let m of team" (click)="bot(p, m)">{{m['passions'][p]}}</td></tr>
    </tbody>
</table>
</div>
<div class="col-1">
    <table class="team">
        <tbody id="weapons">
            <tr class="name"><th></th><th *ngFor="let m of team">{{m['shortName']}}</th></tr>
            <tr *ngFor="let p of teamprop('skills','Weapons')" ><th (click)="bot(p)">{{p}}</th><td *ngFor="let m of team" (click)="bot(p, m)">{{m['skills']['Weapons'][p]}}</td></tr>
        </tbody>
        <tbody id="other">
            <tr class="name"><th></th><th *ngFor="let m of team">{{m['shortName']}}</th></tr>
            <tr *ngFor="let p of teamprop('skills','Other')" ><th (click)="bot(p)">{{p}}</th><td *ngFor="let m of team" (click)="bot(p, m)">{{m['skills']['Other'][p]}}</td></tr>
        </tbody>
        <tbody id="combat">
            <tr class="name"><th></th><th *ngFor="let m of team">{{m['shortName']}}</th></tr>
            <tr *ngFor="let p of teamprop('skills','Combat')"><th (click)="bot(p)">{{p}}</th><td *ngFor="let m of team" (click)="bot(p, m)">{{m['skills']['Combat'][p]}}</td></tr>
        </tbody>
    </table>
    </div>
    </div>
</div>


<ng-template #noTeam>
    <style>
        .wrapper {
            display: flex; 
            justify-content: center; 
            align-items: center;
            height: calc(100vh - 20px);
        }
        .inner {
            padding: 12px;
        }
    </style>
    <div class="wrapper">
        <mat-spinner class="inner"></mat-spinner>
    </div>
</ng-template>
